[submodule "modules/mecatica-usb"]
	path = modules/mecatica-usb
	url = ../mecatica-usb
[submodule "modules/usbadc-support"]
	path = modules/usbadc-support
	url = ../usbadc-support
[submodule "modules/SDRAMCtrl"]
	path = modules/SDRAMCtrl
	url = ../SDRAM-controller.git
[submodule "modules/efx-scripts"]
	path = modules/efx-scripts
	url = ../efx-scripts
